body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

button {
    padding: 15px 30px;
    font-size: 54px; /* Увеличен в три раза с 18px */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
}

#cardResult {
    margin-top: 20px;
    font-size: 100px; /* Увеличен в два раза с 24px */
    color: #333;
}

img {
    margin-top: 20px;
    max-width: 300px; /* Ограничение размера изображения */
    max-height: 300px;
}
